// these are variables to tARGET all the differnet
// color you may want to use.

$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700 
);

$font-sizes: (
    "small": 17px,
    "medium": 25px,
    "large": 35px,
    "x-large": 50px
);

// create a variable for the media query called mobile

$mobile: 800px;
$pad: 1200px;